body {
  overflow-x: hidden;
}

video {
  position: relative;
  z-index: -50;
  width: 100%;
}

.col-md-6 {
  opacity: .7;
  background-color: white;
  border-radius: 50px;
  text-align: center;
  padding-bottom: 20px;
}

#vid-box {
    max-height: 600px;
    /*min-width: 300px;*/
    z-index: -50;
    opacity: .8;
}

.vid-buttons {
  position: relative;
  z-index: 100;
}

img.avatar
{
  height: 10%;
  width: 10%;
}

.chat {
    overflow: scroll;
    overflow-x: hidden;
    height: 50%;
    margin-bottom: 10px;
    font-size: 15px;
    padding-left: 5px;
    position: fixed;
    right: 20px;
    top: 220px;
    width: 40%;
}

.chat ul
{
  width: 150%;
  overflow: scroll;
  height: 50%;
  overflow-x: hidden;
  padding-left: 0px;
  padding-top: 10px;
}

.chat li
{
    list-style-type: none;
    margin-bottom: 10px;
    width: 500px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #B3A9A9;
}

.title
{
  color: blue;
  font-weight: bold;
}

input.chatbox
{
  margin-top: 15px;
  width: 40%;
}

.nav a {
  color: #5a5a5a;
  font-size: 11px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

.nav li {
  display: inline;
}

.thumbnail {
  cursor: pointer;
}

.ng-invalid {
    border-color: red;
    outline-color: red;
}

.ng-valid {
    border-color: green;
    outline-color: green;
}

.home {
  padding-left: 20px;
  padding-right: 20px;
}

.thumb {
  margin-bottom: 20px;
  border-radius: 50px;
}

.aucthumb {
  padding: 10px;
}

.aucthumb:hover {
  background-color: rgb(51,122,183);
  font-color: white;
}
