video {
    width: 100%;
}
div#vid-box {
    max-height: 600px;
    /*min-width: 300px;*/
    z-index: 0;
    opacity: .8;
}

#auction {
  z-index: 1;
}
/*video {
  border-radius: 400px;
  border: rgb(51,122,183) solid 5px;
}*/

img.avatar
{
  height: 8%;
  width: 8%;
}

.collection
{
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 20px;
    /*position: fixed; used to be fixed. not sure how to style */
    right: 20px;
    top: 80px;
}

.chat
{
    margin-top: 370px;
    font-size: 20px;
    /*position: fixed; used to be fixed. not sure how to style */
    right: 20px;
    top: 80px;
    width: 40%;
    height: 50%;
}

ul.collection
{
  width: 40%;
  overflow: scroll;
  height: 50%;
  overflow-x: hidden;
}

.collection li
{
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #B3A9A9;
}

.title
{
  color: blue;
  font-weight: bold;
}

input.chatbox
{
  margin-top: 15px;
  width: 40%;
}

.nav a {
  color: #5a5a5a;
  font-size: 11px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

.nav li {
  display: inline;
}

.thumbnail {
  cursor: pointer;
}

.ng-invalid {
    border-color: red;
    outline-color: red;
}

.ng-valid {
    border-color: green;
    outline-color: green;
}

.home {
  padding-left: 20px;
  padding-right: 20px;
}

.thumb {
  margin-bottom: 20px;
}

.aucthumb:hover {
  background-color: #eee;
}
./*messages {
  font-size: smaller;
  padding-top: 5px;
  padding-bottom: 10px;
  color: red;
}
*/
