<div id="auction">

    <h4>Auction Chat</h4>
    <!-- Post messages -->
    <div class="message-box">
      <form ng-submit="sendMessage()" class="container">
          <div class="row">
              <input class="chatbox" ng-model="messageContent" type="text" placeholder="Type your message" >
              <button class="btn btn-primary" type="submit">Send</button>
            <div class="input-field col s2"></div>
          </div>
     </form>
    </div>
    
    <!-- View messages -->
    <ul class="chat">
     <li ng-repeat="message in messages">
       <img class="avatar" src="{{avatarUrl(message.sender_uuid)}}" alt="{{message.sender_uuid}}">
       <span class="title"> {{username}}: {{ message.content }}</span>
       <p style="font-size: 12px">{{ message.date | date:"MM/dd/yyyy 'at' h:mma"}}</br></p>
     </li>
    </ul>

 </div>
