<div id="auction">
  <body ng-controller="ChatController">

    <!-- View messages -->
    <ul>
     <li ng-repeat="message in messages">
       <img src="{{avatarUrl(message.sender_uuid)}}" alt="{{message.sender_uuid}}">
       <span class="title"> {{username}}: {{ message.content }}</span>
       <p>{{ message.date | date:"MM/dd/yyyy 'at' h:mma"}}</br></p>
     </li>
</ul>

      <!-- Post messages -->
      <div>
        <form ng-submit="sendMessage()" class="container">
            <div class="row">
                <input class="chatbox" ng-model="messageContent" type="text" placeholder="Type your message" >
                <button class="btn btn-primary" type="submit">Send</button>
              <div class="input-field col s2"></div>
            </div>
       </form>
      </div>
    </ul>
  </body>
</div>
