<div ui-view="header"></div>
<!-- <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">Profile Info</h3>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class=" col-md-9 col-lg-9 ">
                  <table class="table table-user-information">
                    <tbody>
                      <tr>
                        <td>Name:</td>
                        <td>{{user.firstName}}  {{user.lastName}}</td>
                      </tr>
                      <tr>
                        <td>Email</td>
                        <td>{{user.email}}</td>
                      </tr>
                    </tbody>
                  </table>

                  <a href="#" class="btn btn-primary">My Auctions</a>
                  <a href="#" class="btn btn-primary">My Bids</a>
                </div>
              </div>
            </div>
             <div class="panel-footer">
                    <a data-original-title="Broadcast Message" data-toggle="tooltip" type="button" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-envelope"></i></a>
                    <span class="pull-right">
                        <a href="edit.html" data-original-title="Edit this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-edit"></i></a>
                        <a data-original-title="Remove this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-remove"></i></a>
                    </span>
              </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >
              <div class="panel panel-info">
                <div class="panel-heading">
                  <h3 class="panel-title">My Auctions</h3>
                </div>
                <div class="panel-body">
                  <div class="row">
                    <div class=" col-md-9 col-lg-9 ">
                      <table class="table table-user-information">
                        <tbody>
                          <tr>
                            <td>Auction Name:</td>
                            <td>Auction Stuff</td>
                          </tr>
                          <tr>
                            <td>Auction Status</td>
                            <td>Auction Stuff</td>
                          </tr>
                        </tbody>
                      </table>

                      <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModalNorm">
                        Create New Auction
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="container">
              <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >
                  <div class="panel panel-info">
                    <div class="panel-heading">
                      <h3 class="panel-title">Recent Bids</h3>
                    </div>
                    <div class="panel-body">
                      <div class="row">
                        <div class=" col-md-9 col-lg-9 ">
                          <table class="table table-user-information">
                            <tbody>
                              <tr>
                                <td>Name:</td>
                                <td>{{user.firstName}}  {{user.lastName}}</td>
                              </tr>
                              <tr>
                                <td>Email</td>
                                <td>{{user.email}}</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div> -->

            <hr>
            <div class="container bootstrap snippet">
                <div class="row">
              		<div class="col-sm-10"><h1>{{user.username}}</h1></div>
                	<div class="col-sm-2"><a href="/users" class="pull-right"><img title="profile image" class="img-circle img-responsive" src="http://www.gravatar.com/avatar/28fd20ccec6865e2d5f0e1f4446eb7bf?s=100"></a></div>
                </div>
                <div class="row">
              		<div class="col-sm-3"><!--left col-->

                      <ul class="list-group">
                        <li class="list-group-item text-muted">Profile Settings</li>
                        <li class="list-group-item text-right"><span class="pull-left"><strong>Username: </strong></span>{{user.username}}</li>
                        <li class="list-group-item text-right"><span class="pull-left"><strong>Full Name: </strong></span>{{user.firstName}}  {{user.lastName}}</li>
                        <li class="list-group-item text-right"><span class="pull-left"><strong>Email: </strong></span>{{user.email}}</li>

                      </ul>

                    </div><!--/col-3-->
                	<div class="col-sm-9">

                      <ul class="nav nav-tabs" id="myTab">
                        <li class="active"><a href="#myauctions" data-toggle="tab">MyAuctions</a></li>
                        <li><a href="#mybids" data-toggle="tab">MyBids</a></li>
                      </ul>

                      <div class="tab-content">
                        <div class="tab-pane active" id="myauctions">
                          <div class="table-responsive">
                            <table class="table table-hover">
                              <thead>
                                <tr>
                                  <th>#</th>
                                  <th>Label 1</th>
                                  <th>Label 2</th>
                                  <th>Label 3</th>
                                  <th>Label 4</th>
                                  <th>Label 5</th>
                                  <th>Label 6</th>
                                </tr>
                              </thead>
                              <tbody id="items">
                                <tr>
                                  <td>1</td>
                                  <td>Table cell</td>
                                  <td>Table cell</td>
                                  <td>Table cell</td>
                                  <td>Table cell</td>
                                  <td>Table cell</td>
                                  <td>Table cell</td>
                                </tr>
                                <tr>
                                  <td>2</td>
                                  <td>Table cell</td>
                                  <td>Table cell</td>
                                  <td>Table cell</td>
                                  <td>Table cell</td>
                                  <td>Table cell</td>
                                  <td>Table cell</td>
                                </tr>
                                <tr>
                                  <td>3</td>
                                  <td>Table cell</td>
                                  <td>Table cell</td>
                                  <td>Table cell</td>
                                  <td>Table cell</td>
                                  <td>Table cell</td>
                                  <td>Table cell</td>
                                </tr>
                                <tr>
                                  <td>4</td>
                                  <td>Table cell</td>
                                  <td>Table cell</td>
                                  <td>Table cell</td>
                                  <td>Table cell</td>
                                  <td>Table cell</td>
                                  <td>Table cell</td>
                                </tr>
                                <tr>
                                  <td>5</td>
                                  <td>Table cell</td>
                                  <td>Table cell</td>
                                  <td>Table cell</td>
                                  <td>Table cell</td>
                                  <td>Table cell</td>
                                  <td>Table cell</td>
                                </tr>
                                <tr>
                                  <td>6</td>
                                  <td>Table cell</td>
                                  <td>Table cell</td>
                                  <td>Table cell</td>
                                  <td>Table cell</td>
                                  <td>Table cell</td>
                                  <td>Table cell</td>
                                </tr>
                                <tr>
                                  <td>7</td>
                                  <td>Table cell</td>
                                  <td>Table cell</td>
                                  <td>Table cell</td>
                                  <td>Table cell</td>
                                  <td>Table cell</td>
                                  <td>Table cell</td>
                                </tr>
                                 <tr>
                                  <td>8</td>
                                  <td>Table cell</td>
                                  <td>Table cell</td>
                                  <td>Table cell</td>
                                  <td>Table cell</td>
                                  <td>Table cell</td>
                                  <td>Table cell</td>
                                </tr>
                                <tr>
                                  <td>9</td>
                                  <td>Table cell</td>
                                  <td>Table cell</td>
                                  <td>Table cell</td>
                                  <td>Table cell</td>
                                  <td>Table cell</td>
                                  <td>Table cell</td>
                                </tr>
                                <tr>
                                  <td>10</td>
                                  <td>Table cell</td>
                                  <td>Table cell</td>
                                  <td>Table cell</td>
                                  <td>Table cell</td>
                                  <td>Table cell</td>
                                  <td>Table cell</td>
                                </tr>
                              </tbody>
                            </table>
                            <hr>
                            <div class="row">
                              <div class="col-md-4 col-md-offset-4 text-center">
                              	<ul class="pagination" id="myPager"></ul>
                              </div>
                            </div>
                          </div><!--/table-resp-->

                          <hr>

                         </div><!--/tab-pane-->
                         <div class="tab-pane" id="messages">

                           <h2></h2>

                           <ul class="list-group">
                              <li class="list-group-item text-muted">Inbox</li>
                              <li class="list-group-item text-right"><a href="#" class="pull-left">Here is your a link to the latest summary report from the..</a> 2.13.2014</li>
                              <li class="list-group-item text-right"><a href="#" class="pull-left">Hi Joe, There has been a request on your account since that was..</a> 2.11.2014</li>
                              <li class="list-group-item text-right"><a href="#" class="pull-left">Nullam sapien massaortor. A lobortis vitae, condimentum justo...</a> 2.11.2014</li>
                              <li class="list-group-item text-right"><a href="#" class="pull-left">Thllam sapien massaortor. A lobortis vitae, condimentum justo...</a> 2.11.2014</li>
                              <li class="list-group-item text-right"><a href="#" class="pull-left">Wesm sapien massaortor. A lobortis vitae, condimentum justo...</a> 2.11.2014</li>
                              <li class="list-group-item text-right"><a href="#" class="pull-left">For therepien massaortor. A lobortis vitae, condimentum justo...</a> 2.11.2014</li>
                              <li class="list-group-item text-right"><a href="#" class="pull-left">Also we, havesapien massaortor. A lobortis vitae, condimentum justo...</a> 2.11.2014</li>
                              <li class="list-group-item text-right"><a href="#" class="pull-left">Swedish chef is assaortor. A lobortis vitae, condimentum justo...</a> 2.11.2014</li>

                            </ul>

                         </div><!--/tab-pane-->
                         <div class="tab-pane" id="settings">


                              <hr>
                              <form class="form" action="##" method="post" id="registrationForm">
                                  <div class="form-group">

                                      <div class="col-xs-6">
                                          <label for="first_name"><h4>First name</h4></label>
                                          <input type="text" class="form-control" name="first_name" id="first_name" placeholder="first name" title="enter your first name if any.">
                                      </div>
                                  </div>
                                  <div class="form-group">

                                      <div class="col-xs-6">
                                        <label for="last_name"><h4>Last name</h4></label>
                                          <input type="text" class="form-control" name="last_name" id="last_name" placeholder="last name" title="enter your last name if any.">
                                      </div>
                                  </div>

                                  <div class="form-group">

                                      <div class="col-xs-6">
                                          <label for="phone"><h4>Phone</h4></label>
                                          <input type="text" class="form-control" name="phone" id="phone" placeholder="enter phone" title="enter your phone number if any.">
                                      </div>
                                  </div>

                                  <div class="form-group">
                                      <div class="col-xs-6">
                                         <label for="mobile"><h4>Mobile</h4></label>
                                          <input type="text" class="form-control" name="mobile" id="mobile" placeholder="enter mobile number" title="enter your mobile number if any.">
                                      </div>
                                  </div>
                                  <div class="form-group">

                                      <div class="col-xs-6">
                                          <label for="email"><h4>Email</h4></label>
                                          <input type="email" class="form-control" name="email" id="email" placeholder="you@email.com" title="enter your email.">
                                      </div>
                                  </div>
                                  <div class="form-group">

                                      <div class="col-xs-6">
                                          <label for="email"><h4>Location</h4></label>
                                          <input type="email" class="form-control" id="location" placeholder="somewhere" title="enter a location">
                                      </div>
                                  </div>
                                  <div class="form-group">

                                      <div class="col-xs-6">
                                          <label for="password"><h4>Password</h4></label>
                                          <input type="password" class="form-control" name="password" id="password" placeholder="password" title="enter your password.">
                                      </div>
                                  </div>
                                  <div class="form-group">

                                      <div class="col-xs-6">
                                        <label for="password2"><h4>Verify</h4></label>
                                          <input type="password" class="form-control" name="password2" id="password2" placeholder="password2" title="enter your password2.">
                                      </div>
                                  </div>
                                  <div class="form-group">
                                       <div class="col-xs-12">
                                            <br>
                                          	<button class="btn btn-lg btn-success" type="submit"><i class="glyphicon glyphicon-ok-sign"></i> Save</button>
                                           	<button class="btn btn-lg" type="reset"><i class="glyphicon glyphicon-repeat"></i> Reset</button>
                                        </div>
                                  </div>
                          	</form>
                          </div>

                          </div><!--/tab-pane-->
                      </div><!--/tab-content-->

                    </div><!--/col-9-->
                </div><!--/row-->


            <div class="modal fade" id="myModalNorm" tabindex="-1" role="dialog"
                 aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <!-- Modal Header -->
                  <div class="modal-header">
                    <button type="button" class="close"
                      data-dismiss="modal">
                      <span aria-hidden="true">&times;</span>
                      <span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                      Creating an Auction
                    </h4>
                  </div>

                  <div class="modal-body">
                    <form ng-controller='CreateAucController' role="form" ng-submit='createAuction()'>
                      <div class="form-group">
                        <label for="auctionname">Auction Title</label>
                          <input ng-model='auction.title' type="text" class="form-control"
                          id="auctiontitle" placeholder="Enter Title"/>
                      </div>
                      <div class="form-group">
                        <label for="description">Description</label>
                          <textarea ng-model='auction.description' height='200' size='250' type="text" class="form-control"
                            id="description" placeholder="Description"></textarea>
                      </div>
                      <div class="form-group">
                        <label for="sprice">Starting Price</label>
                          <input ng-model='auction.sprice' type="number" class="form-control"
                            id="sprice" placeholder="Price"/>
                      </div>
                      <div class="form-group">
                        <label for="rprice">Reserved Price</label>
                          <input ng-model='auction.rprice' type="number" class="form-control"
                            id="rprice" placeholder="Price"/>
                      </div>
                      <div class="form-group">
                        <label for="duration">Auction Duration</label>
                          <input ng-model='auction.duration' type="number" class="form-control"
                            id="duration" placeholder="Enter Duration in Minutes"/>
                      </div>
                      <button type="submit" class="btn btn-default">Save Auction</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
