<div ui-view="header"></div>
            <hr>
            <div class="container bootstrap snippet">
                <div class="row">
              		<div class="col-sm-10"><h1>{{user.username}}</h1></div>
                </div>
                <div class="row">
              		<div class="col-sm-3"><!--left col-->
                      <ul class="list-group">
                        <li class="list-group-item text-muted">Profile Settings</li>
                        <li class="list-group-item text-right"><span class="pull-left"><strong>Username: </strong></span>{{user.username}}</li>
                        <li class="list-group-item text-right"><span class="pull-left"><strong>Full Name: </strong></span>{{user.firstName}}  {{user.lastName}}</li>
                  <li class="list-group-item text-right"><span class="pull-left"><strong>Email: </strong></span>{{user.email}}</li>
                      </ul>
                    </div><!--/col-3-->
                	<div class="col-sm-9">
                      <ul class="nav nav-tabs" id="myTab">
                        <li class="active"><a href="#myauctions" data-toggle="tab">MyAuctions</a></li>
                        <!-- <li><a href="#mybids" data-toggle="tab">MyBids</a></li> -->
                      </ul>
                          <table class="table table-hover">
                            <thead>
                              <tr>
                                <th>ID</th>
                                <th>Title</th>
                                <th>End</th>
                                <th>Status</th>
                              </tr>
                            </thead>
                            <tbody id="items">
                              <tr ng-repeat="auction in user.auctions" ng-click="navToAuction(auction.auctionId)" >
                                <td>{{ auction.auctionId }}</td>
                                <td>{{ auction.title }}</td>
                                <td>{{ auction.end | date : 'medium' : 'PT'}}</td>
                                <td>{{ auction.status }}</td>
                              </tr>
                            </tbody>
                          </table>
                      <div class="tab-content">
                        <div class="tab-pane active" id="myauctions">
                          <div class="table-responsive">
                            <hr>
                          </div><!--/table-resp-->
                          <hr>
                         </div><!--/tab-pane-->
                          </div><!--/tab-pane-->
                      </div><!--/tab-content-->

                    </div><!--/col-9-->
                    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModalNorm">
                      Create New Auction
                    </button>
                </div><!--/row-->


            <div class="modal fade" id="myModalNorm" tabindex="-1" role="dialog"
                 aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <!-- Modal Header -->
                  <div class="modal-header">
                    <button type="button" class="close"
                      data-dismiss="modal">
                      <span aria-hidden="true">&times;</span>
                      <span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                      Creating an Auction
                    </h4>
                  </div>

                  <div class="modal-body">
                    <form ng-controller='CreateAucController' role="form" ng-submit='createAuction()'>
                      <div class="form-group">
                        <label for="auctionname">Auction Title</label>
                          <input ng-model='auction.title' required type="text" class="form-control"
                          id="auctiontitle" placeholder="Enter Title"/>
                      </div>
                      <div class="form-group">
                        <label for="description">Description</label>
                          <textarea ng-model='auction.description' required height='200' size='250' type="text" class="form-control"
                            id="description" placeholder="Description"></textarea>
                      </div>
                      <div class="form-group">
                        <label for="sprice">Starting Price</label>
                          <input ng-model='auction.sprice' required type="number" class="form-control"
                            id="sprice" placeholder="Price"/>
                      </div>
                      <div class="form-group">
                        <label for="rprice">Reserved Price</label>
                          <input ng-model='auction.rprice' required type="number" class="form-control"
                            id="rprice" placeholder="Price"/>
                      </div>
                      <div class="form-group">
                        <label for="duration">Auction Duration</label>
                          <input ng-model='auction.duration' required  type="number" class="form-control"
                            id="duration" placeholder="Enter Duration in Minutes"/>
                      </div>
                      <button type="submit" class="btn btn-default">Save Auction</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
