<div ui-view="header"></div>
<div class="container">
  <h1>Sign in</h1>
  <hr>
  <div class='row'>
    <div class='col-md-8'>
      <form class="form-horizontal" role="form" ng-submit='signin()'>
        <div class='form-group'>
          <label for="inputUsername" class="col-lg-3 control-label">Username</label>
          <div class="col-lg-8">
            <input type="text" class="form-control" placeholder="Username" required autofocus ng-model='user.username'>
          </div>
        </div>
        <div class='form-group'>
          <label class="col-lg-3 control-label">Password</label>
          <div class="col-lg-8">
            <input type="password" class="form-control" placeholder="Password" required ng-model='user.password'>
          </div>
        </div>
        <div class='form-group'>
          <label class="col-md-3 control-label"></label>
          <div class='col-md-8'>
            <button class="btn btn-primary" type="submit">Signin</button>
            <a href="#/signup">Don't have an account? <strong>Signup</strong> ...</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
